<section id="aboutus">
    <div class="d-flex flex-col bd-highlight justify-content-center align-items-center mt-5 mb-5" id="">
      <div class="container aboutus">
        <h3 class="text-center"> Kenapa memilih LatihID? </h3>
        <hr style="color: #FF6A0E; margin-left: 45%; margin-right: 45%; margin-bottom: 40px; opacity: 1;">
        <div class="d-flex row bd-highlight justify-content-center align-items-center mb-5">
          <div class="card item2 text-center">
            <img class="img-fluid aboutus" src="https://uploads-ssl.webflow.com/6036456c8a1b202cd7b3908f/603645f00ca13aa0d4c844ff_undraw_business_shop_qw5t%202.svg">
            <h5 class="font-weight-bold mt-3">Fokus pada UMKM</h5>
            <p class="mt-3" style="font-size: 18px;">Program-program LatihID berfokus untuk mengembangkan kualitas bisnis UMKM Indonesia.</p>
          </div>
          <div class="card item2 text-center">
            <img class="img-fluid aboutus" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f86bea45a0eb697d950_Keunggulan%20LatihID%202.svg">
            <h5 class="font-weight-bold mt-3">Bebas Akses Dimana Saja</h5>
            <p class="mt-3" style="font-size: 18px;">Program pelatihan LatihID dapat diakses dengan beragam perangkat teknologi di mana saja, tanpa batasan jarak atau tempat.</p>
          </div>
          <div class="card item2 text-center">
            <img class="img-fluid aboutus" src="https://uploads-ssl.webflow.com/6036456c8a1b202cd7b3908f/603645ef5eaa78588b9c9cd6_undraw_Booking_re_gw4j%201.svg">
            <h5 class="font-weight-bold mt-3">Akses Seumur Hidup</h5>
            <p class="mt-3" style="font-size: 18px;">Dapatkan akses program pelatihan LatihID seumur hidup, dengan hanya melakukan sekali login.</p>
          </div>
        </div>
        <div class="d-flex row bd-highlight justify-content-center align-items-center mt-5">
          <div class="card item2 text-center">
            <img class="img-fluid aboutus" src="https://uploads-ssl.webflow.com/6036456c8a1b202cd7b3908f/603645ef0f67880d138f03a8_undraw_time_management_30iu%202.svg">
            <h5 class="font-weight-bold mt-3">Akses Kapan Saja</h5>
            <p class="mt-3" style="font-size: 18px;">Akses 24/7 untuk semua program pelatihan LatihID, tanpa batasan waktu.</p>
          </div>
          <div class="card item2 text-center">
            <img class="img-fluid aboutus mb-3" src="https://uploads-ssl.webflow.com/6036456c8a1b202cd7b3908f/603645ef727b2c74b1e6b1cc_undraw_site_stats_l57q%201.svg">
            <h5 class="font-weight-bold mt-3">Kelas Gratis & Terjangkau</h5>
            <p class="mt-3" style="font-size: 18px;">Nikmati kelas gratis dan terjangkau untuk modul, webinar, dan program-program LatihID lainnya.</p>
          </div>
          <div class="card item2 text-center">
            <img class="img-fluid aboutus" src="https://uploads-ssl.webflow.com/6036456c8a1b202cd7b3908f/603645f1dfa3244edf63ff0b_undraw_in_sync_xwsa%201.svg">
            <h5 class="font-weight-bold mt-3">Konten yang Praktis</h5>
            <p class="mt-3" style="font-size: 18px;">Pelatihan praktis yang dapat langsung diterapkan di lapangan usaha.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  