<section id="banner-bottom" style="color: white;">
    <div class="d-flex flex-row bd-highlight justify-content-center align-items-center">
        <div class="container" style="height: 100%;">
          <div class="d-flex flex-row bd-highlight justify-content-center align-items-start mt-5">
            <div class="card mt-5 mb-5 ml-3 mr-3" style="width: 50rem; border-color: transparent; background-color: transparent;">
                <div class="card-body" style="margin-top: 0%;">
                  <h2>Menjadi Pembicara</h2>
                  <p class="card-text text-left" style="font-size: medium;">LatihID membuka kesempatan untuk individu/lembaga yang bersedia menjadi pemateri untuk program-program LatihID (LatihID Modul, LatihID Talks, LatihID Pojok Cerita, atau LatihID Expert Class).</p>
                  <button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Ayo Kolaborasi</button>
                </div>
              </div>
              <div class="card mt-5 mb-5 ml-3 mr-3" style="width: 50rem; border-color: transparent; background-color: transparent;">
                <div class="card-body" style="margin-top: 0%;">
                  <h2>Menjadi Mitra</h2>
                  <p class="card-text text-left" style="font-size: medium;">LatihID membuka kesempatan untuk individu/lembaga yang ingin bekerja sama untuk berbagai jenis kemitraan (seperti media partner, program, dan lainnya).</p>
                  <button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Ayo Kolaborasi</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>
