<section id="kelas-expert">
    <div class="d-flex flex-row bd-highlight justify-content-center align-items-center mt-5 mb-5">
      <div class="container kelas-baru row">
          <div class="col">
            <div class="card kelas-kiri">
              <div class="card item kelas-baru">
                <img class="img-fluid kelas-baru" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d92dc101853ce40d2_LatihID%20Expert%20Class.svg">
              </div>
              <h6 class="card-title title-text text-left" style="font-weight: bolder;">LatihID Expert Class</h6>
              <div class="card-body kelas-kiri">
                  <p style="font-size: 12px;" class="text-left">Kelas dengan harga yang terjangkau, dan penjelasan materi yang lebih rinci. Jangan sampai kelewatan, dan akses kelasnya sekarang.
                  </p>
                  <button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Lihat Modul Lainnya ></button>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight mb-5" id="items5">
            <div class="card kelas-gratis">
              <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
              <h6 class="card-title text-left">Delbert Simonas</h6>
              <div class="card-body">
                  <h5 class="card-title text-left">.....</h5>
                  <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
              </div>
            </div>
            <div class="card kelas-gratis">
              <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
              <h6 class="card-title text-left">Delbert Simonas</h6>
              <div class="card-body">
                  <h5 class="card-title text-left">.....</h5>
                  <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>