<section id="kelas-pemasaran">
    <div class="d-flex flex-row bd-highlight justify-content-center align-items-center mt-5 mb-5">
      <div class="container kelas-baru row">
          <div class="col">
            <div class="card kelas-kiri">
              <div class="card item kelas-baru">
                <img class="img-fluid kelas-baru" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d5dd53766e5bd3051_Kelas%20Pemasaran.svg">
              </div>
              <h6 class="card-title title-text text-left" style="font-weight: bolder;">Kelas Pemasaran</h6>
              <div class="card-body kelas-kiri">
                  <p style="font-size: 12px;" class="text-left">Ingin usaha rintisan kamu lebih terkenal di mata publik? Ikuti kelas-kelas pemasaran dengan modul-modul di bawah ini, untuk mewujudkan keinginan tersebut!
                  </p>
                  <button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Lihat Modul Lainnya ></button>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row bd-highlight mb-5" id="items10">
            {%for modul in listModul%}
              {% if modul.3 == 'kelas pemasaran'%}
              <div class="card kelas-gratis">
                <div class="media media-2x1 gd-primary"> <img class="profile-image" src="{{modul.4}}"> </div>
                <h6 class="card-title text-left">{{modul.0}}</h6>
                <div class="card-body d-flex flex-col align-items-end">
                  <div class="col">
                    {%if modul.2 == '1'%}
                      <h6 class="text-left" id="star">☆☆☆☆★</h6>
                    {%endif%}
                    {%if modul.2 == '2'%}
                      <h6 class="text-left" id="star">☆☆☆★★</h6>
                    {%endif%}
                    {%if modul.2 == '3'%}
                      <h6 class="text-left" id="star">☆☆★★★</h6>
                    {%endif%}
                    {%if modul.2 == '4'%}
                      <h6 class="text-left" id="star">☆★★★★</h6>
                    {%endif%}
                    {%if modul.2 == 5%}
                      <h6 class="text-left" id="star">★★★★★</h6>
                    {%endif%}
                    {%if modul.2 == 'None'%}
                      <h6 class="text-left"></h6>
                    {%endif%}
                    <h6 class="text-left" style="color: #FF6A0E;">{{modul.1}}</h6>
                  </div>
                </div>
              </div>
              {%endif%}
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
</section>