<section id="program-unggulan">
    <div class="d-flex flex-col bd-highlight justify-content-center align-items-center mt-5 mb-5">
      <div class="container kelas-gratis">
        <img class="img-fluid kelas-gratis" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7dcf4bf617314a0bbe_Kelas%20Gratis%20Terpopuler.svg">
        <h5 class="font-weight-bold mt-3 mb-5 text-center">Program Unggulan LatihID</h5>
        <div class="d-flex bd-highlight" id="judul-button">
            <div class="mr-auto p-2 bd-highlight"><h5 class="font-weight-bold mt-3 mb-5 text-left">LatihID Modul</h5></div>
            <div class="p-2 bd-highlight"><button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Lihat Modul Lainnya ></button></div>
        </div>
        <div class="d-flex row bd-highlight justify-content-center align-items-center mb-5" id="items6">
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
        </div>
        
        <div class="d-flex bd-highlight" id="judul-button">
            <div class="mr-auto p-2 bd-highlight"><h5 class="font-weight-bold mt-3 mb-5 text-left">LatihID Talks</h5></div>
            <div class="p-2 bd-highlight"><button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Lihat Talks Lainnya ></button></div>
        </div>
        <div class="d-flex row bd-highlight justify-content-center align-items-center mb-5" id="items7">
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
        </div>

        <div class="d-flex bd-highlight" id="judul-button">
          <div class="mr-auto p-2 bd-highlight"><h5 class="font-weight-bold mt-3 mb-5 text-left">LatihID PETA</h5></div>
          <div class="p-2 bd-highlight"><button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Lihat PETA Lainnya ></button></div>
        </div>
        <div class="d-flex row bd-highlight justify-content-center align-items-center mb-5" id="items8">
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
          <div class="card kelas-gratis">
            <div class="media media-2x1 gd-primary"> <img class="profile-image" src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1568709978/BBBootstrap/2.jpg"> </div>
            <h6 class="card-title text-left">Delbert Simonas</h6>
            <div class="card-body">
                <h5 class="card-title text-left">.....</h5>
                <h6 class="card-text text-left" style="color: #FF6A0E;">Gratis</h6>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</section>