<section id="search">
    <div class="d-flex col bd-highlight justify-content-center align-items-center" id="search-dan-kategori">
      <div class="container" id="container-search">
        <form class="d-flex flex-row bd-highlight mt-5 mb-5" id="form-cari-kelas">
          <input type="text" class="form-control" placeholder = "Cari Kelas Managemen Operasional">
          <button style="background-color: #FF6A0E; color: white; border-color: transparent;" class="btn btn-light">Search</button>
        </form>
        <div class="d-flex row bd-highlight justify-content-center mt-5" id="items">
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d80edfecea4a13715_Kelas%20LatihID%20Terbaru.svg">
            <p class="mt-3">Kelas Terbaru</p>
          </div>
          <div class="card item">
              <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7ed79316ba899c4890_Kelas%20Memulai%20Bisnis.svg">
              <p class="mt-3">Memulai Bisnis</p>
          </div>
          <div class="card item">
              <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d5dd53766e5bd3051_Kelas%20Pemasaran.svg">
              <p class="mt-3">Kelas Pemasaran</p>
          </div>
          <div class="card item">
              <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d7438a8197180ec49_Kelas%20Manajemen%20Operasional.svg">
              <p class="mt-3">Managemen Operasional</p>
          </div>
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f98358b0a7ade47b3bd_LatihID%20Talks.svg">
            <p class="mt-3">LatihID Talks</p>
          </div>
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f98ead4b5744d830d19_LatihID%20PETA.svg">
            <p class="mt-3">LatihID PETA</p>
          </div>
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/60595627fea87722322387a5/605959cde81c700cb4d1d87a_latihid-mentoring.svg">
            <p class="mt-3">Mentoring</p>
          </div>
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7dcf4bf617314a0bbe_Kelas%20Gratis%20Terpopuler.svg">
            <p class="mt-3">Kelas Gratis</p>
          </div>
          <div class="card item">
            <img class="img-fluid" src="https://uploads-ssl.webflow.com/5fceb358a1e41ca1c04f7640/60375f7d92dc101853ce40d2_LatihID%20Expert%20Class.svg">
            <p class="mt-3">Kelas Expert</p>
          </div>
        </div>
      </div>
    </div>
</section>